var ( ID ) {
    value = VALUE
    unit = UNIT
    % If nested algorithm is present
    alg ( ID ) {
        % Variables
        % For each var in VARS
        var ( ID ) {
            value = VALUE
            unit = UNIT
        }
    }
}
