ce ( ID ) {
    alg ( ID ) {
        % Variables
        % For each var in VARS
        var ( ID ) {
            value = VALUE
            unit = UNIT
            % If nested algorithm is present
            % Include alg_var_alg template
        }
    }
}
