enriched_uranium {
    type = two_stage
    product = 1
    tails = 1
    two_stage_params {
        stage_1_enrichment = 1
        stage_1_tails = 1
    }
    NU_costs {
        lead_time = 1
        costs = []
    }
    DU_costs {
        lead_time = 1
        costs = []
    }
    conversion {
        loss_fraction = 0.1
        lead_time = 1
        costs = []
    }
    stage_1_enrichment_costs {
        loss_fraction = 0.1
        lead_time = 1
        costs = []
    }
    stage_2_enrichment_costs {
        loss_fraction = 0.1
        lead_time = 1
        costs = []
    }
}
