RU{ 
    reprocess { loss_fraction = VALUE costs = [FUEL_COST/ITEM/ID]}
    conversion{ loss_fraction = VALUE costs = [FUEL_COST/ITEM/ID]}
    reenrichment{ type = two_stage/one_stage 
        loss_fraction = VALUE
        stage_1{feed = VALUE product = VALUE tails = VALUE }
        SWU_costs = [FUEL_COST/ITEM/ID]
        DU_costs=[FUEL_COST/ITEM/ID]
    }
}