fresh_fuel{
    fabrication{ loss_fraction = VALUE costs = [fuel_cost_item_id]}
    DU{ fuel_fraction = VALUE costs = [fuel_cost_item_id]}
    NU{ fuel_fraction = VALUE costs = [fuel_cost_item_id]}
    EU{ fuel_fraction = VALUE costs = [fuel_cost_item_id]}
    RU{ fuel_fraction = VALUE costs = [fuel_cost_item_id]}
    Th{ fuel_fraction = VALUE costs = [fuel_cost_item_id]}
    TRU{fuel_fraction = VALUE costs = [fuel_cost_item_id]}
    FP{ fuel_fraction = VALUE costs = [fuel_cost_item_id]}
}