fresh_fuel_composition {
    depleted_uranium {
        % Add depleted uranium parameters
    }
    natural_uranium {
        % Add natural uranium parameters
    }
    enriched_uranium {
        % Add enriched uranium parameters
    }
    thorium_fraction {
        % Add thorium fraction parameters
    }
    recovered_th_fraction_costs = []
    recovered_uranium_fraction {
        % Add recovered uranium fraction parameters
    }
    recovered_tru_fraction {
        % Add recovered tru fraction parameters
    }
}
