reprocessing {
    fuel_id = *SPECIFY_FUEL_ID*
    time_after_discharge = 1
    sep_leadtime = 1
    sep_losses = 1
    waste_management_costs {
        th {
            fraction_disposed = 0.1
            costs = []
        }
        ru {
            fraction_disposed = 0.1
            costs = []
        }
        np {
            fraction_disposed = 0.1
            costs = []
        }
        pu {
            fraction_disposed = 0.1
            costs = []
        }
        am_cm {
            fraction_disposed = 0.1
            costs = []
        }
        fp {
            fraction_disposed = 0.1
            costs = []
        }
    }
    avoided_costs = []
}
