fuel(fuel_id) {
    avg_discharge_burnup = VALUE
    num_batches = VALUE
    avg_specific_power = VALUE

    fresh_fuel{
        % Add fresh fuel composition parameters
    }
    spent_fuel{
        % Add spent fuel composition parameters
    }
    EU{
        % Add enrichment and conversion parameters
    }
    RU{
        % Add reprocessing and conversion and reenrichment parameters
    }
}