capital_costs {
    item(capital_cost) {
        cost_type = s_curve
        cost_value = 4000
        expenditure_time = 5
        distribution {
            type = triangular
            low = 2300
            high = 5800
            nominal = 4000
        }
    }
}
