item( capital_cost_item_id ) {
    cost_type = s_curve
    cost_value = VALUE
    expenditure_time = VALUE
    distribution {
        type = triangular
        low = VALUE
        high = VALUE
        nominal = VALUE
    }
}